.logo-wrapper a img {
  transform: scaleX(1.65) scaleY(1.65);
  transform-origin: left;
}

a.main-footer__badge{
  width: 160px;
  margin: 15px 5px;
}

a.logo-cityhall{
  margin-right: 10px;
}

.heading1.hero-heading br{
  display: block;
}
